@charset "UTF-8";
body, html {
  height: 100%;
}
a.active{
	font-family: 'Grenze Gotisch', cursive;
	color: #A90E10 ;
}
a{
	font-family: 'Grenze Gotisch', cursive;
	color: #A90E10 ;
}
a:hover{
	font-family: 'Grenze Gotisch', cursive;
	color: #000000 ;
}
.submenu{
	font-size: 24px;
	padding: 105px 0px 0px 0px;
}
.dropdown{
	font-size: 24px;
}
.h-one{
    color: #ffffff;
    font-family: 'Grenze Gotisch', cursive;
    padding: 10px 0px 20px 15px;
    margin: 20px 0px 20px 0px;
    text-indent: 37px;
    text-shadow: -2px 2px #A90E10;
    letter-spacing: 1px;
    background-image: url("images/slatehorizontal1200.jpg");
}
.pic{
	padding: 20px 40px 20px 40px;
}
.parallax { 
  /* The image used */
  background-image: url(images/nordwood-themes-R53t-Tg6J4c-unsplash.jpg);

  /* Set a specific height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.desc{
    text-align: left;
    font-family: halyard-display, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
	letter-spacing: 2px;
	padding-left: 40px;
}
.descs{
    text-align: left;
    font-family: halyard-display, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
	letter-spacing: 2px;
	padding-left: 40px;
}
.foot{
	background-color: #A90E10;
	font-family: halyard-display, sans-serif;
	font-weight: 500;
    font-style: normal;
    font-size: 14px;
	letter-spacing: 2px;
	text-align: center;
	color: white;
	padding: 11px 0px 3px 0px;
}
.bottombutton{
	text-align: center;
	margin: 10px 0px 10px 0px;
}
